@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 100%;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

:root {
  --clr-almost-white: #fafafa;
  --clr-white: #fff;
  --clr-light-grey: #adadad;
  --clr-med-grey: #686868;
  --clr-black: #151515;

  --ft-heading-l: 5rem; /*80px */
  --ff-heading-m: 2.25rem; /*36px*/
  --ft-body16: 1rem; /* 16px */
  --ft-body18: 1.125rem; /* 18px */

  --fw-medium: 500;
  --fw-bold: 700;

  --lh-heading1: 5rem;
  --lh-heading2: 2.625rem;
  --lh-body16: 1.625rem;
  --lh-body18: 1.75rem;
  --lh-sm: 1rem;

  --max-header: 84.9375rem;
  --max-body: 71.5625rem;
  --border-radius10: 0.625rem;
  --border-radius14: 0.875rem;
  --border-radius15: 0.9375rem;

  --transition2: all 0.2s linear;
  --transition3: all 0.3s linear;

  --box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
}

* {
  color: var(--clr-med-grey);
  font-weight: var(--fw-medium);
  font-family: "Epilogue", sans-serif;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  transition: var(--transition2);
}
a:hover,
button:hover {
  color: var(--clr-black);
}

body {
  background-color: var(--clr-almost-white);
}

.container {
  max-width: var(--max-body);
  margin: 0 auto;
}
